


.music-list-bg {
	background: url(../../dist/img/ed-sheeran.jpg) no-repeat;
	background-size: cover;
}

.artist-list-bg {
	background: url(../../dist/img/twenty-one-pilots.jpg) no-repeat;
	background-size: cover;
}

.albuns-list-bg {
	background: url(../../dist/img/ultimate-collection.jpg) no-repeat;
	background-size: cover;
}