


.header-container {
	background: #1f1f1f;
	color: white;
}

.banner-wrapper {
	display: none;
}

.topbar {
	display: block;
	padding: 0 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}

//////////////////////////////////
////////// DESKTOP ///////////////
//////////////////////////////////
@media screen and (min-width: 1200px) {
	.header-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
	}
	.banner-wrapper {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		width: 100%;
		padding-top: 10px;
		.banner {

		}
	}
	.topbar {
		display: none;
		padding: 0;
		-webkit-justify-content: center;
		justify-content: center;
	}
}
