
.scroll {
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.menu {
	height: 30px;
	.logo-wrapper, .user-icon-wrapper, .search-icon-wrapper {
		display: none;
	}
	.menu-list {
		.menu-item {
				padding: 0 10px;
				display: inline-block;
				text-align: center;
			.menu-link {
				font-size: .8rem;
				color: #FFFFFF;
				text-transform: uppercase;
				&:hover {
					@include soft-hover;
					color: $green;
				}
			}
		}
	}
}

//////////////////////////////////
////////// DESKTOP ///////////////
//////////////////////////////////
@media screen and (min-width: 768px) {
	.menu {
		height: 80px;
		width: 80%;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		.logo-wrapper, .user-icon-wrapper, .search-icon-wrapper {
			display: block;
		}
		.user-icon-wrapper, .search-icon-wrapper {
			font-size: 1.5rem;
			padding: 0 10px;
			&:hover {
				@include soft-hover;
				opacity: .6;
			}
		}
	}
}
