


// fonts
@font-face {
	font-family: "Myriad-pro";
	src: url(../../dist/fonts/MyriadPro-Regular.otf);
}

$text-font: "Myriad-pro";

// colors
$green: #CCFF00;
$blue: #00AACC;
$blue-text: #007788;
$dark-blue: #4099AD;
$dark-gray: #2F2E2E;
$soft-gray: #979795;