

@import "variables";
@import "mixins";
@import "header";
@import "menu";
@import "logo";
@import "toplist";
@import "background";


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #F9F9F9;
	font-family: $text-font;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.content {
	padding: 40px 20px;
	margin-bottom: 40px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;

}

//////////////////

// #London {background-color:red;}
// #Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}

@media screen and (min-width: 768px) {
	// .tablink {
	// 	display: none;
	// }
	.content {
		padding: 60px 80px;
	}
}
